@import url(http://fonts.googleapis.com/css?family=Exo:400,700);

// Fonts
@custom: 'Exo', sans-serif;
@default: arial, sans-serif;

//Colors
@white:#ffffff;
@red:#cb0e28;
@gray:#6b6b6c;
@gray2:#dedde1;
@light-gray:#f1f1f1;
@violet:#5e2a8a;
@dark-violet:#492c5e;

// Common Herlpers 
.list(){
    list-style: none;
    padding-left: 15px;
    background: transparent url("images/list-bullet.png") 0px 6px no-repeat;
}
.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

// CSS3 Customs styles
.opacity(@opacity: .9, @ie-opacity: 90){
    opacity: @opacity; /* other browsers and IE9+ */  
    filter: alpha(opacity=@ie-opacity); /* IE6+ */
}
.inline(){
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;   
}
.rounded(@radius-uno: 10px, @radius-dos: 10px, @radius-tres: 10px, @radius-cuatro: 10px,){
    /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

    -webkit-border-top-left-radius: @radius-uno;
    -webkit-border-top-right-radius: @radius-dos;
    -webkit-border-bottom-right-radius: @radius-tres;
    -webkit-border-bottom-left-radius: @radius-cuatro;
    -moz-border-radius-topleft: @radius-uno;
    -moz-border-radius-topright: @radius-dos;
    -moz-border-radius-bottomright: @radius-tres;
    -moz-border-radius-bottomleft: @radius-cuatro;
    border-top-left-radius: @radius-uno;
    border-top-right-radius: @radius-dos;
    border-bottom-right-radius: @radius-tres;
    border-bottom-left-radius: @radius-cuatro; 

    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}
.shadow(@x-axis: 0px, @y-axis: 0px, @blur: 4px, @shadow-color: #d2d2d2){
    box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */    
    -moz-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */
	-webkit-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Safari and Chrome */
    behavior: url(../PIE.php);
}
.gradient(@color: #593678, @start: #593678, @end: #3e2654){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@start) to(@end)); /*old webkit*/
    background: -webkit-linear-gradient(@start, @end); /*new webkit*/
    background: -moz-linear-gradient(@start, @end); /*gecko*/
    background: -ms-linear-gradient(@start, @end); /*IE10*/
    background: -o-linear-gradient(@start, @end); /*opera 11.10+*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}
.rotate(@deg: 180deg, @ie-deg: 2) {
    -webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@ie-deg);    
}
.button(){
    color:@white;
    display:block;
    float: left;
    font-family: @custom;
    font-weight: regular;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding:0px 15px;
    .rounded();
    .gradient();
    &:hover{
        text-decoration: none;
        .gradient(#b60e25, #b60e25, #b60e25);
    }
} 