html{
    .mp0();
}
a{
	color: @violet;
    text-decoration: none;
}
a:hover{
    color: @red;
    text-decoration: none;
}

body{
	background: @white;
    font-family: @default;
    font-size: 14px;
    color: @gray;
    text-align: center;
}
p{
	font-family:@default; 
	font-weight: normal;
}
input[type="submit"]{
	.button();
	width:auto;
}
input, textarea, select{
	display:block;
	font-family:@default;
	font-size:14px;
	outline-color:@violet;
	outline-width: thin;
}
/* ---- Headers ---- */
h1, h2, h3, h4, h5, h6{
	font-family:@custom;
}
h1{
	font-size:40px;
}
h2{
	font-size:36px;
}
h3{
	font-size:30px;
}
h4{
	font-size:24px;
}
h5{
	font-size:22px;
}
h6{
	font-size:18px;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}

.nocomments{
	display: none;
}
/* ---- End Headers ---- */
#wrapper{
	height: 100%;
	margin: auto;
	position: relative;
	text-align: left; 
	header#header{
		background: transparent url("images/landscape.jpg") center top no-repeat;
		height: 685px;
		position: relative;
		z-index: 20;
		#top-header{
			padding: 12px 0px;
			position: relative;
			overflow: hidden;
			z-index: 10;
			h1#logo{
				margin-bottom: 0px;
			}
			#navigation{
				margin-top: 35px;
				nav{
					margin-top: 10px;
					ul{
						.mp0();
						li{
							display: inline;
							list-style: none;
							margin: 0px 5px;
							a{
								outline: none;
								background: transparent; 
								color: @white;
								display: inline-block;
								font-family: @custom;
								font-size: 16px;
								padding: 5px 5px;
								&:hover{
									background-color: @dark-violet;
									.rounded();
								}
							}
						}
					}
				}
			}
			.social-network{
				padding-top: 40px;
				ul{
					color: @white;
					text-align: right;
					.mp0();
					li{
						list-style: none;
						display: inline;
						a{
							background: url("images/social-icons.png") no-repeat;
							display: inline-block;
							height: 37px;
							padding: 0px 2px;
							width: 37px;
						}
					}
					.facebook{
						a{
							background-position: 0px 0px;
							&:hover{
								background-position: -60px 0px;
							}
						}
					}
					.twitter{
						a{
							background-position: 0px -50px;
							&:hover{
								background-position: -60px -50px;
							}
						}
					}
					.google{
						a{
							background-position: 0px -100px;
							&:hover{
								background-position: -60px -100px;
							}
						}
					}					
				}
			}
			.language{
				position: absolute;
				right: 0;
				top: 0;
				a{
					color: @white;
					display: block;
					padding: 3px 10px;
					.gradient(#ee102f, #ee102f, #cb0e28);
					.rounded(0px, 0px, 10px, 10px);
					&:hover{
						.gradient();
					}
				}
			}
		}
		#slideshow{
			position: absolute;
			top: 0;
			z-index: 5;
			#text-slider{
				background:url("images/red-bar.jpg") top left no-repeat;
				left: 0px;
				position: absolute;
				padding-top: 10px;
				top: 145px;
				width: 390px;
				.textwidget{
					color: @dark-violet;
					font-size: 48px;
					font-weight: bold;
					line-height: 48px;
					font-family:@custom;
				}
			}
			#image{
				height: 685px;
			}
		}
	}
	#container{
		height: 100%;
		margin-bottom: 30px;
		position: relative;
		z-index: 50;
		aside{
			margin-top: -130px;
			.red-box{
				.top-box{
					background:url("images/red-box-top.png") no-repeat;
					height: 48px;
					width: 230;
				}
				.content-box{
					color: @white;
					height: 100%;
					padding: 0px 20px;
					overflow: hidden;
					text-align: center;
					width: 230;
					.gradient(#ee102f, #ee102f, #cb0e28);
					h2{
						font-size: 30px;
						margin-bottom: 0px;
					}
					.link{
						overflow: hidden;
						padding:0px 47px;
						a{
							.button();
						}
					}
				}
				.bottom-box{
					background:url("images/red-box-bottom.png") no-repeat;
					height: 48px;
					width: 230;}
			}
		}
		#founders{
			height: 465px;
			.title{
				background: url("images/title-shadow.png") left bottom no-repeat; 
				padding-bottom: 30px;
				h2{
					background: url("images/founders-icon.png") 0px 10px no-repeat;
					color: @violet;
					font-size: 30px;
					padding-left:40px; 
					margin-bottom: 0px;
				}
			}
			.border-none{
				border: none;
			}
			article{
				border-bottom: 1px dotted @gray2;
				margin-bottom: 15px;
				padding-bottom: 15px;
				overflow: hidden;
				.image{
					img{
						.rounded();
					}
				}
				.text{
					h2{
						font-size: 18px;
						font-family: @default;
						line-height: normal;
						vertical-align: top;
					}
					p{
						margin-bottom: 10px;
					}
					.link{
						a{
							.button();
						}
					}
				}
			}
		}
		#blog{
			height: 465px;
			.title{
				background: url("images/title-shadow.png") left bottom no-repeat; 
				padding-bottom: 30px;
				h2{
					background: url("images/blog-icon.png") 0px 10px no-repeat;
					color: @violet;
					font-size: 30px;
					padding-left:50px; 
					margin-bottom: 0px;
				}
			}
			.border-none{
				border: none;
			}
			article{
				border-bottom: 1px dotted @gray2;
				margin-bottom: 10px;
				padding-bottom: 5px;
				overflow: hidden;
				h2{
					font-size: 14px;
					font-family: @default;
					line-height: normal;
					vertical-align: top;
				}
				p{
					margin-bottom: 5px;
				}
			}
			.link{
				a{
					.button();
				}
			}
		}
	}
	footer#footer{ 
		background: @light-gray;
		padding-top: 30px;
		.menu{
			columns: 3;
			-webkit-columns:3; /* Safari and Chrome */
			-moz-columns: 3; /* Firefox */
			ul{
				li{
					.list();
					white-space:nowrap;
					a{

					}
				}
			}
		}
		.social-network-footer{
			ul{
				color: @gray;
				vertical-align: top;
				.mp0();
				li{
					list-style: none;
					display: inline;
					a{
						background: url("images/social-icons-footer.png") no-repeat;
						display: inline-block;
						height: 37px;
						padding: 0px 2px;
						width: 37px;
					}
				}
				.facebook{
					a{
						background-position: 0px 0px;
						&:hover{
							background-position: -60px 0px;
						}
					}
				}
				.twitter{
					a{
						background-position: 0px -50px;
						&:hover{
							background-position: -60px -50px;
						}
					}
				}
				.google{
					a{
						background-position: 0px -100px;
						&:hover{
							background-position: -60px -100px;
						}
					}
				}				
			}
		}
		.mail {
			span{
			}
			ul{
				list-style: none;
				.mp0();
				li{
					a{

					}
				}
			}
		}
		.copyright{
			border-top:1px solid @gray2;
			text-align: center;
			p{
				line-height: 40px;
				margin-bottom: 0px;
			}
		}
	}
	.content-area{
		min-height: 428px;
		background:rgb(255,255,255);
		background:rgba(255,255,255,0.8);
		.rounded(10px, 10px, 0, 0);		
		ul{
			margin: 2em;
			li{
				line-height: 1.5em;
			}
		}
		p{
			line-height: 1.5em;
		}		
		#content{	
			margin: 1em 0;
			padding: 3em 3em 0 3em;
			header{
				h1{
					margin: 0 0 40px 0;
					line-height: 40px;
				}
			}
			article{
				display: inline-block;
				margin-bottom: 2em;
				width: 94%;
				.entry-header{
					h1{
						margin: 0 0 40px 0;
					}
				}
				header{
					h1{
						margin: 0 0 0.5em 0;
						line-height: 40px;
					}
				}
				.entry-content{
					margin: 1em 0;
				}
				footer{
					margin-top: 3em;
					.commentlist{
						margin: 1.5em 0;
						.comment{
							margin: 1.5em 0;
						}
					}
				}
			}
			.archive-header-category{
				padding-right: 5em;
				h1{
					font-size: 40px;
					line-height: 40px;
				}				
			}
			#content-category{
				article{
					header{
						h1{
							font-size: 20px;
							line-height: 20px;
						}
					}
					p{
						margin: 0;
					}
					.read-more{
						display: inline-block;
						font-weight: 600;
					}
				}				
			}
			.wp-pagenavi {
			    margin: 3em 0;
			}
		}
		.multimedia{
			h2{
				font-size: 25px;
				line-height: 22px;
				margin-bottom: 30px;
			}
		}
		.has-sidebar{
            width: 65%;
            float: left;
        } 
		#secondary,#sidebar{
	        width: 25%;
	        float: left;			
			margin-top: 2em;
			li{
				list-style-type: none;
				margin-bottom: 0.3em;
    			padding-bottom: 0.3em;
    			border-bottom: 0.1em solid #d5d5d5;
				&:last-child{
					border-bottom: none;
				}        			
			}
			.widgettitle{
				font-size: 2em;
				margin-top: 1em;
			}
			ul{
				margin: 1em 0 0.5em 0;
			}		
		}
	}
	#searchform{
		display: inline-block;
		margin-top: 0.4em;
		#s{
			padding: 0.4em;
			width: 8em;
			outline: 0;	
			float: left;
			height: 19px;	
		}
	}		
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; 
	    height: 0; 
	    overflow: hidden;
	    iframe, object, embed{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	}	
}