@import url(http://fonts.googleapis.com/css?family=Exo:400,700);
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It is suggested that you read through the normalize.css file and customise it
   to meet the design requirements of a project rather including it as a "black
   box". @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/* Instead of relying on the fonts that are available on a user's computer, you
   can use web fonts which, like images, are resources downloaded to the user's
   browser. Because of the bandwidth and rendering resources required, web fonts
   should be used with care.

   Numerous resources for web fonts can be found on Google. Here are a few
   websites where you can find Open Source fonts to download:
   - http://www.fontsquirrel.com/fontface
   - http://www.theleagueofmoveabletype.com

   In order to use these fonts, you will need to convert them into formats
   suitable for web fonts. We recommend the free-to-use Font Squirrel's
   Font-Face Generator:
     http://www.fontsquirrel.com/fontface/generator

   The following is an example @font-face declaration. This font can then be
   used in any ruleset using a property like this:  font-family: Example, serif;

   Since we're using Sass, you'll need to declare your font faces here, then you
   can add them to the font variables in the _base.scss partial.
*/
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  /*
   * To use a 14px font size on the page, delete the 16px and 12px declarations.
   * To use a 12px font size on the page, delete the 16px and 14px declarations.
   */

  /* Use a 12px base font size */

  /* font-size: 75%;  16px x 75% = 12px */

  /* Use a 14px base font size */

  /* Use a 16px base font size */

  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Establish a vertical rhythm. */

  line-height: 1.5em;
}
/*
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;

@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}

 */
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * and Nimbus Sans fonts are commonly available on Linux systems where the MS
   * fonts are less common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif, serif or
   * monospace) hints at what type of font to use if the web browser doesn't
   * find any of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family: Arial, Helvetica, Verdana, Sans-Serif;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  /* Sets the line height to 2 units of vertical rhythm */

  /* Before line-height: 1.5em;  3rem / 2em = 1.5em */

  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */

  margin-top: 0;
  /* before margin-top: 0.75em;  1.5rem / 2em = .75em */

  margin-bottom: 0.75em;
}
h2 {
  font-size: 1.5em;
  line-height: 2em;
  /* 3rem / 1.5em = 2em */

  margin-top: 0;
  /* before margin-top: 1em;  1.5rem / 1.5em = 1em */

  /* Before margin-bottom: 1em; */

}
h3 {
  font-size: 1.17em;
  line-height: 1.282em;
  /* 1.5rem / 1.17em = 1.282em */

  margin-top: 0;
  /* before margin-top: 1.282em;*/

  /* Before  margin-bottom: 1.282em;*/

}
h4 {
  font-size: 1em;
  line-height: 1.5em;
  /* 1.5rem / 1em = 1.5em */

  margin-top: 0;
  /* before margin-top: 1.5em;*/

  /* Before margin-bottom: 1.5em; */

}
h5 {
  font-size: 0.83em;
  line-height: 1.807em;
  /* 1.5rem / 0.83em = 1.807em */

  margin-top: 0;
  /* before margin-top: 1.807em;*/

  /* Before margin-bottom: 1.807em; */

}
h6 {
  font-size: 0.75em;
  line-height: 2em;
  /* 1.5rem / .75em = 2em */

  margin-top: 0;
  /* before margin-top: 2em;*/

  /* Before margin-bottom: 2em; */

}
/* Thematic break */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 1.5em 30px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ffd75c;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 1.5em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
/* @todo Determine how big element affects vertical rhythm. */
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul,
.item-list ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */

  margin: 0 0 1.5em 0;
}
.item-list ul li {
  /* Drupal override */

  margin: 0;
}
dd {
  margin: 0 0 0 30px;
  /* LTR */

}
ul ul,
ul ol,
ol ul,
ol ol,
.item-list ul ul,
.item-list ul ol,
.item-list ol ul,
.item-list ol ol {
  margin: 0;
  /* Turn off margins on nested lists. */

}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol {
  padding: 0 0 0 30px;
  /* LTR */

}
ul,
.item-list ul {
  padding: 0 0 0 10px;
  /* LTR */

}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

  /* vertical-align: bottom; */
  /* Suppress the space beneath the baseline */

  /* Responsive images */

  /* @todo Add responsive embedded video. */

  max-width: 100%;
  height: auto;
}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.5em 0.625em 1em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */
  /* LTR */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -webkit-box-sizing: content-box;
  /* 2 */

  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* Prevent cramped-looking tables */

  /* Add vertical rhythm margins. */

  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #969696;
}
caption {
  background: #2d2d2d;
  padding: 5px;
  color: #fff;
  font-weight: bold;
}
/*
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
th {
  /* text-align: left;  LTR */

  padding: 0;
  border-bottom: none;
}
tr th,
thead th {
  color: #fff;
  font-weight: normal;
  background-color: #4f4f4f;
  border-right: 1px solid #969696;
  padding: 10px;
}
tr td {
  border-top: 1px solid #969696;
  border-right: 1px solid #969696;
  padding: 10px;
}
tr.odd td {
  background: #f2f7fc;
}
tbody {
  border-top: none;
}
/* =============================================================================
    Reset specific only for default browser values
   ========================================================================== */
p,
ul,
ol {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 0.5em;
}
/* =============================================================================
   Common classes useful on html
   ========================================================================== */
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.uppercase {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
html {
  margin: 0px;
  padding: 0px;
}
a {
  color: #5e2a8a;
  text-decoration: none;
}
a:hover {
  color: #cb0e28;
  text-decoration: none;
}
body {
  background: #ffffff;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #6b6b6c;
  text-align: center;
}
p {
  font-family: arial, sans-serif;
  font-weight: normal;
}
input[type="submit"] {
  color: #ffffff;
  display: block;
  float: left;
  font-family: 'Exo', sans-serif;
  font-weight: regular;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding: 0px 15px;
  /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  background: #593678;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#593678) to(#3e2654));
  /*old webkit*/

  background: -webkit-linear-gradient(#593678, #3e2654);
  /*new webkit*/

  background: -moz-linear-gradient(#593678, #3e2654);
  /*gecko*/

  background: -ms-linear-gradient(#593678, #3e2654);
  /*IE10*/

  background: -o-linear-gradient(#593678, #3e2654);
  /*opera 11.10+*/

  background: linear-gradient(#593678, #3e2654);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#593678, #3e2654);
  /*PIE*/

  behavior: url(../PIE.php);
  width: auto;
}
input[type="submit"]:hover {
  text-decoration: none;
  background: #b60e25;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b60e25) to(#b60e25));
  /*old webkit*/

  background: -webkit-linear-gradient(#b60e25, #b60e25);
  /*new webkit*/

  background: -moz-linear-gradient(#b60e25, #b60e25);
  /*gecko*/

  background: -ms-linear-gradient(#b60e25, #b60e25);
  /*IE10*/

  background: -o-linear-gradient(#b60e25, #b60e25);
  /*opera 11.10+*/

  background: linear-gradient(#b60e25, #b60e25);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#b60e25, #b60e25);
  /*PIE*/

  behavior: url(../PIE.php);
}
input,
textarea,
select {
  display: block;
  font-family: arial, sans-serif;
  font-size: 14px;
  outline-color: #5e2a8a;
  outline-width: thin;
}
/* ---- Headers ---- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo', sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}
.nocomments {
  display: none;
}
/* ---- End Headers ---- */
#wrapper {
  height: 100%;
  margin: auto;
  position: relative;
  text-align: left;
}
#wrapper header#header {
  background: transparent url("images/landscape.jpg") center top no-repeat;
  height: 685px;
  position: relative;
  z-index: 20;
}
#wrapper header#header #top-header {
  padding: 12px 0px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
#wrapper header#header #top-header h1#logo {
  margin-bottom: 0px;
}
#wrapper header#header #top-header #navigation {
  margin-top: 35px;
}
#wrapper header#header #top-header #navigation nav {
  margin-top: 10px;
}
#wrapper header#header #top-header #navigation nav ul {
  margin: 0px;
  padding: 0px;
}
#wrapper header#header #top-header #navigation nav ul li {
  display: inline;
  list-style: none;
  margin: 0px 5px;
}
#wrapper header#header #top-header #navigation nav ul li a {
  outline: none;
  background: transparent;
  color: #ffffff;
  display: inline-block;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  padding: 5px 5px;
}
#wrapper header#header #top-header #navigation nav ul li a:hover {
  background-color: #492c5e;
  /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper header#header #top-header .social-network {
  padding-top: 40px;
}
#wrapper header#header #top-header .social-network ul {
  color: #ffffff;
  text-align: right;
  margin: 0px;
  padding: 0px;
}
#wrapper header#header #top-header .social-network ul li {
  list-style: none;
  display: inline;
}
#wrapper header#header #top-header .social-network ul li a {
  background: url("images/social-icons.png") no-repeat;
  display: inline-block;
  height: 37px;
  padding: 0px 2px;
  width: 37px;
}
#wrapper header#header #top-header .social-network ul .facebook a {
  background-position: 0px 0px;
}
#wrapper header#header #top-header .social-network ul .facebook a:hover {
  background-position: -60px 0px;
}
#wrapper header#header #top-header .social-network ul .twitter a {
  background-position: 0px -50px;
}
#wrapper header#header #top-header .social-network ul .twitter a:hover {
  background-position: -60px -50px;
}
#wrapper header#header #top-header .social-network ul .google a {
  background-position: 0px -100px;
}
#wrapper header#header #top-header .social-network ul .google a:hover {
  background-position: -60px -100px;
}
#wrapper header#header #top-header .language {
  position: absolute;
  right: 0;
  top: 0;
}
#wrapper header#header #top-header .language a {
  color: #ffffff;
  display: block;
  padding: 3px 10px;
  background: #ee102f;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ee102f) to(#cb0e28));
  /*old webkit*/

  background: -webkit-linear-gradient(#ee102f, #cb0e28);
  /*new webkit*/

  background: -moz-linear-gradient(#ee102f, #cb0e28);
  /*gecko*/

  background: -ms-linear-gradient(#ee102f, #cb0e28);
  /*IE10*/

  background: -o-linear-gradient(#ee102f, #cb0e28);
  /*opera 11.10+*/

  background: linear-gradient(#ee102f, #cb0e28);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#ee102f, #cb0e28);
  /*PIE*/

  /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper header#header #top-header .language a:hover {
  background: #593678;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#593678) to(#3e2654));
  /*old webkit*/

  background: -webkit-linear-gradient(#593678, #3e2654);
  /*new webkit*/

  background: -moz-linear-gradient(#593678, #3e2654);
  /*gecko*/

  background: -ms-linear-gradient(#593678, #3e2654);
  /*IE10*/

  background: -o-linear-gradient(#593678, #3e2654);
  /*opera 11.10+*/

  background: linear-gradient(#593678, #3e2654);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#593678, #3e2654);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper header#header #slideshow {
  position: absolute;
  top: 0;
  z-index: 5;
}
#wrapper header#header #slideshow #text-slider {
  background: url("images/red-bar.jpg") top left no-repeat;
  left: 0px;
  position: absolute;
  padding-top: 10px;
  top: 145px;
  width: 390px;
}
#wrapper header#header #slideshow #text-slider .textwidget {
  color: #492c5e;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  font-family: 'Exo', sans-serif;
}
#wrapper header#header #slideshow #image {
  height: 685px;
}
#wrapper #container {
  height: 100%;
  margin-bottom: 30px;
  position: relative;
  z-index: 50;
}
#wrapper #container aside {
  margin-top: -130px;
}
#wrapper #container aside .red-box .top-box {
  background: url("images/red-box-top.png") no-repeat;
  height: 48px;
  width: 230;
}
#wrapper #container aside .red-box .content-box {
  color: #ffffff;
  height: 100%;
  padding: 0px 20px;
  overflow: hidden;
  text-align: center;
  width: 230;
  background: #ee102f;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ee102f) to(#cb0e28));
  /*old webkit*/

  background: -webkit-linear-gradient(#ee102f, #cb0e28);
  /*new webkit*/

  background: -moz-linear-gradient(#ee102f, #cb0e28);
  /*gecko*/

  background: -ms-linear-gradient(#ee102f, #cb0e28);
  /*IE10*/

  background: -o-linear-gradient(#ee102f, #cb0e28);
  /*opera 11.10+*/

  background: linear-gradient(#ee102f, #cb0e28);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#ee102f, #cb0e28);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper #container aside .red-box .content-box h2 {
  font-size: 30px;
  margin-bottom: 0px;
}
#wrapper #container aside .red-box .content-box .link {
  overflow: hidden;
  padding: 0px 47px;
}
#wrapper #container aside .red-box .content-box .link a {
  color: #ffffff;
  display: block;
  float: left;
  font-family: 'Exo', sans-serif;
  font-weight: regular;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding: 0px 15px;
  /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  background: #593678;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#593678) to(#3e2654));
  /*old webkit*/

  background: -webkit-linear-gradient(#593678, #3e2654);
  /*new webkit*/

  background: -moz-linear-gradient(#593678, #3e2654);
  /*gecko*/

  background: -ms-linear-gradient(#593678, #3e2654);
  /*IE10*/

  background: -o-linear-gradient(#593678, #3e2654);
  /*opera 11.10+*/

  background: linear-gradient(#593678, #3e2654);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#593678, #3e2654);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper #container aside .red-box .content-box .link a:hover {
  text-decoration: none;
  background: #b60e25;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b60e25) to(#b60e25));
  /*old webkit*/

  background: -webkit-linear-gradient(#b60e25, #b60e25);
  /*new webkit*/

  background: -moz-linear-gradient(#b60e25, #b60e25);
  /*gecko*/

  background: -ms-linear-gradient(#b60e25, #b60e25);
  /*IE10*/

  background: -o-linear-gradient(#b60e25, #b60e25);
  /*opera 11.10+*/

  background: linear-gradient(#b60e25, #b60e25);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#b60e25, #b60e25);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper #container aside .red-box .bottom-box {
  background: url("images/red-box-bottom.png") no-repeat;
  height: 48px;
  width: 230;
}
#wrapper #container #founders {
  height: 465px;
}
#wrapper #container #founders .title {
  background: url("images/title-shadow.png") left bottom no-repeat;
  padding-bottom: 30px;
}
#wrapper #container #founders .title h2 {
  background: url("images/founders-icon.png") 0px 10px no-repeat;
  color: #5e2a8a;
  font-size: 30px;
  padding-left: 40px;
  margin-bottom: 0px;
}
#wrapper #container #founders .border-none {
  border: none;
}
#wrapper #container #founders article {
  border-bottom: 1px dotted #dedde1;
  margin-bottom: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}
#wrapper #container #founders article .image img {
  /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper #container #founders article .text h2 {
  font-size: 18px;
  font-family: arial, sans-serif;
  line-height: normal;
  vertical-align: top;
}
#wrapper #container #founders article .text p {
  margin-bottom: 10px;
}
#wrapper #container #founders article .text .link a {
  color: #ffffff;
  display: block;
  float: left;
  font-family: 'Exo', sans-serif;
  font-weight: regular;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding: 0px 15px;
  /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  background: #593678;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#593678) to(#3e2654));
  /*old webkit*/

  background: -webkit-linear-gradient(#593678, #3e2654);
  /*new webkit*/

  background: -moz-linear-gradient(#593678, #3e2654);
  /*gecko*/

  background: -ms-linear-gradient(#593678, #3e2654);
  /*IE10*/

  background: -o-linear-gradient(#593678, #3e2654);
  /*opera 11.10+*/

  background: linear-gradient(#593678, #3e2654);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#593678, #3e2654);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper #container #founders article .text .link a:hover {
  text-decoration: none;
  background: #b60e25;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b60e25) to(#b60e25));
  /*old webkit*/

  background: -webkit-linear-gradient(#b60e25, #b60e25);
  /*new webkit*/

  background: -moz-linear-gradient(#b60e25, #b60e25);
  /*gecko*/

  background: -ms-linear-gradient(#b60e25, #b60e25);
  /*IE10*/

  background: -o-linear-gradient(#b60e25, #b60e25);
  /*opera 11.10+*/

  background: linear-gradient(#b60e25, #b60e25);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#b60e25, #b60e25);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper #container #blog {
  height: 465px;
}
#wrapper #container #blog .title {
  background: url("images/title-shadow.png") left bottom no-repeat;
  padding-bottom: 30px;
}
#wrapper #container #blog .title h2 {
  background: url("images/blog-icon.png") 0px 10px no-repeat;
  color: #5e2a8a;
  font-size: 30px;
  padding-left: 50px;
  margin-bottom: 0px;
}
#wrapper #container #blog .border-none {
  border: none;
}
#wrapper #container #blog article {
  border-bottom: 1px dotted #dedde1;
  margin-bottom: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}
#wrapper #container #blog article h2 {
  font-size: 14px;
  font-family: arial, sans-serif;
  line-height: normal;
  vertical-align: top;
}
#wrapper #container #blog article p {
  margin-bottom: 5px;
}
#wrapper #container #blog .link a {
  color: #ffffff;
  display: block;
  float: left;
  font-family: 'Exo', sans-serif;
  font-weight: regular;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding: 0px 15px;
  /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  background: #593678;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#593678) to(#3e2654));
  /*old webkit*/

  background: -webkit-linear-gradient(#593678, #3e2654);
  /*new webkit*/

  background: -moz-linear-gradient(#593678, #3e2654);
  /*gecko*/

  background: -ms-linear-gradient(#593678, #3e2654);
  /*IE10*/

  background: -o-linear-gradient(#593678, #3e2654);
  /*opera 11.10+*/

  background: linear-gradient(#593678, #3e2654);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#593678, #3e2654);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper #container #blog .link a:hover {
  text-decoration: none;
  background: #b60e25;
  /*fallback for non-CSS3 browsers*/

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b60e25) to(#b60e25));
  /*old webkit*/

  background: -webkit-linear-gradient(#b60e25, #b60e25);
  /*new webkit*/

  background: -moz-linear-gradient(#b60e25, #b60e25);
  /*gecko*/

  background: -ms-linear-gradient(#b60e25, #b60e25);
  /*IE10*/

  background: -o-linear-gradient(#b60e25, #b60e25);
  /*opera 11.10+*/

  background: linear-gradient(#b60e25, #b60e25);
  /*future CSS3 browsers*/

  -pie-background: linear-gradient(#b60e25, #b60e25);
  /*PIE*/

  behavior: url(../PIE.php);
}
#wrapper footer#footer {
  background: #f1f1f1;
  padding-top: 30px;
}
#wrapper footer#footer .menu {
  columns: 3;
  -webkit-columns: 3;
  /* Safari and Chrome */

  -moz-columns: 3;
  /* Firefox */

}
#wrapper footer#footer .menu ul li {
  list-style: none;
  padding-left: 15px;
  background: transparent url("images/list-bullet.png") 0px 6px no-repeat;
  white-space: nowrap;
}
#wrapper footer#footer .social-network-footer ul {
  color: #6b6b6c;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
#wrapper footer#footer .social-network-footer ul li {
  list-style: none;
  display: inline;
}
#wrapper footer#footer .social-network-footer ul li a {
  background: url("images/social-icons-footer.png") no-repeat;
  display: inline-block;
  height: 37px;
  padding: 0px 2px;
  width: 37px;
}
#wrapper footer#footer .social-network-footer ul .facebook a {
  background-position: 0px 0px;
}
#wrapper footer#footer .social-network-footer ul .facebook a:hover {
  background-position: -60px 0px;
}
#wrapper footer#footer .social-network-footer ul .twitter a {
  background-position: 0px -50px;
}
#wrapper footer#footer .social-network-footer ul .twitter a:hover {
  background-position: -60px -50px;
}
#wrapper footer#footer .social-network-footer ul .google a {
  background-position: 0px -100px;
}
#wrapper footer#footer .social-network-footer ul .google a:hover {
  background-position: -60px -100px;
}
#wrapper footer#footer .mail ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#wrapper footer#footer .copyright {
  border-top: 1px solid #dedde1;
  text-align: center;
}
#wrapper footer#footer .copyright p {
  line-height: 40px;
  margin-bottom: 0px;
}
#wrapper .content-area {
  min-height: 428px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8);
  /*-moz-border-radius:@radius;  Firefox   
    -webkit-border-radius:@radius;  Safari and chrome  
    -khtml-border-radius:@radius;  Linux browsers   
    border-radius:@radius;  CSS3 */

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper .content-area ul {
  margin: 2em;
}
#wrapper .content-area ul li {
  line-height: 1.5em;
}
#wrapper .content-area p {
  line-height: 1.5em;
}
#wrapper .content-area #content {
  margin: 1em 0;
  padding: 3em 3em 0 3em;
}
#wrapper .content-area #content header h1 {
  margin: 0 0 40px 0;
  line-height: 40px;
}
#wrapper .content-area #content article {
  display: inline-block;
  margin-bottom: 2em;
  width: 94%;
}
#wrapper .content-area #content article .entry-header h1 {
  margin: 0 0 40px 0;
}
#wrapper .content-area #content article header h1 {
  margin: 0 0 0.5em 0;
  line-height: 40px;
}
#wrapper .content-area #content article .entry-content {
  margin: 1em 0;
}
#wrapper .content-area #content article footer {
  margin-top: 3em;
}
#wrapper .content-area #content article footer .commentlist {
  margin: 1.5em 0;
}
#wrapper .content-area #content article footer .commentlist .comment {
  margin: 1.5em 0;
}
#wrapper .content-area #content .archive-header-category {
  padding-right: 5em;
}
#wrapper .content-area #content .archive-header-category h1 {
  font-size: 40px;
  line-height: 40px;
}
#wrapper .content-area #content #content-category article header h1 {
  font-size: 20px;
  line-height: 20px;
}
#wrapper .content-area #content #content-category article p {
  margin: 0;
}
#wrapper .content-area #content #content-category article .read-more {
  display: inline-block;
  font-weight: 600;
}
#wrapper .content-area #content .wp-pagenavi {
  margin: 3em 0;
}
#wrapper .content-area .multimedia h2 {
  font-size: 25px;
  line-height: 22px;
  margin-bottom: 30px;
}
#wrapper .content-area .has-sidebar {
  width: 65%;
  float: left;
}
#wrapper .content-area #secondary,
#wrapper .content-area #sidebar {
  width: 25%;
  float: left;
  margin-top: 2em;
}
#wrapper .content-area #secondary li,
#wrapper .content-area #sidebar li {
  list-style-type: none;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid #d5d5d5;
}
#wrapper .content-area #secondary li:last-child,
#wrapper .content-area #sidebar li:last-child {
  border-bottom: none;
}
#wrapper .content-area #secondary .widgettitle,
#wrapper .content-area #sidebar .widgettitle {
  font-size: 2em;
  margin-top: 1em;
}
#wrapper .content-area #secondary ul,
#wrapper .content-area #sidebar ul {
  margin: 1em 0 0.5em 0;
}
#wrapper #searchform {
  display: inline-block;
  margin-top: 0.4em;
}
#wrapper #searchform #s {
  padding: 0.4em;
  width: 8em;
  outline: 0;
  float: left;
  height: 19px;
}
#wrapper .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#wrapper .video-container iframe,
#wrapper .video-container object,
#wrapper .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
@media print {
  a:link,
  a:visited {
    /* underline all links */
  
    text-decoration: underline !important;
  }
  #site-name a:link,
  #site-name a:visited {
    /* Don't underline header */
  
    text-decoration: none !important;
  }
  #content {
    /* Un-float the content */
  
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #content a[href]:after {
    /* Add visible URL after links. */
  
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    /* Only display useful links. */
  
    content: "";
  }
  #content abbr[title]:after {
    /* Add visible title after abbreviations. */
  
    content: " (" attr(title) ")";
  }
  body,
  #page,
  #main,
  #content {
    /* Turn off any background colors or images */
  
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    /* Hide sidebars and nav elements */
  
    visibility: hidden;
    display: none;
  }
}
/* End @media print */
@-moz-document url-prefix() {
  /* add styles only for firefox here... */
  nav ul#menu li a {
    padding: 13px 27px 13px 28px;
  }
  #wrap footer #policy h5 {
    margin-right: 19px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* add styles only for Safari/Chrome here... */
}
html.ie-8 {
  /* add styles only for IE8 here... */
}
html.ie-7 {
  /* add styles only for IE7 here... */
}
html.no-js {
  /* add styles for all IE versions here... */
}
html.mac {
  /* add styles only for MAC Safari here... */
}
